@using PlanetDotnet.Models.Foundations.Tags
@if (PodcastView != null)
{
    <div class="col-md-4 profileCard" id="@PodcastView.Id">
        <img class="mugShot" src="@PodcastView.Avatar" alt="@PodcastView.FullName" />
        <div class="mugShotBorder">
        </div>
        <div class="profileCardWrapper">

            <p class="name">@PodcastView.FullName</p>
            <p class="twitter">
                <a href="https://twitter.com/@PodcastView.TwitterHandle">@@@PodcastView.TwitterHandle</a>
            </p>

            <p class="description">
                @PodcastView.Description
            </p>

            <p class="tags">

                @if (PodcastView.Tags != null)
                {
                    @foreach (var tag in PodcastView.Tags)
                    {
                        <span class="badge badge-info">@tag</span>
                    }
                }
                else
                {
                    <span class="badge badge-info">@Tag.Default</span>
                }
            </p>

            <p class="website">
                <a href="@(PodcastView.WebSite)" title="@PodcastView.WebSite">@PodcastView.WebSite</a>
            </p>
        </div>
    </div>
}

<style>
    span + span {
        margin-left: 5px;
    }
</style>